.register-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}