:root {
    --primary-color: #813400;
    --secondary-color: #3a1500;
    --text-color: #ffffff;
    --font-family: 'Arial', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}